cog_class_data
cog_instance_data
instance_data
*-cache
__debug*
__pycache__
checkpoints
.cog
*.safetensors
output.zip
cog.yaml
NED
*.zip
test.py
.env
container-job-gpu.json
homelab-379610-273fe301a796.json
train
train_data
stablediffusion15
start.py
NOTES.md